.actionColor {
    color: rgb(0,105,60);
    cursor: pointer;
}

.actionColor:hover {
    text-decoration: underline;
}

.blankColor {
    color: #c23934;
    cursor: pointer;
}

.capacityColor {
    color: #04844b;
    cursor: pointer;
}

.tdColor {
    color: #c23934;
    font-weight: bold;
}

.queueDisabled {
    color: #706e6b;
    cursor: not-allowed;
}

.wrapTextCls {
    word-wrap: break-word;
}

/* Hover card styles */
.locationhover {
    position: fixed;
    width: 34rem;
    padding: 20px;
    z-index: 9999;
}

.assethover {
    position: fixed;
    width: 46rem;
    padding: 20px;
    z-index: 9999;
}

.contacthover {
    position: fixed;
    width: 30rem;
    padding: 20px;
    z-index: 9999;
}
