.heading {
    text-align: center;
    font-weight: bold !important;
    font-size: 1.2rem;
    line-height: 1.3;
    color: black;
}

.slds-box thead th {
    color: black !important;
    border-bottom: 1.5px solid black !important;
}

.locationleft {
    border-right: 1.5px solid black !important;
}

.red {
    color: red;
}

.highlight {
    background-color: yellow;
}

.location {
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.3;
    color: black;
}

.slds-box {
    border: 5px solid rgb(230, 229, 228) !important;
}

.spacing td {
    white-space: normal !important;
}

.textWrapCls {
    white-space: normal !important;
}

.head {
    font-weight: bold;
    background-color: #f3f3f3;
}

/* Make table body rows and cells opaque */
tbody tr {
    background-color: white !important;
}

tbody td {
    background-color: white !important;
}

/* Ensure table headers are also opaque */
thead tr {
    background-color: #f3f3f3 !important;
}

thead th {
    background-color: #f3f3f3 !important;
}
