/* Progress Indicator Styles */

.slds-progress {
    margin-bottom: 1rem;
}

.slds-progress__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.slds-progress__item {
    flex: 1 1 0%;
    position: relative;
    text-align: center;
}

.slds-progress__item + .slds-progress__item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0.625rem;
    right: 50%;
    left: -50%;
    height: 0.125rem;
    background-color: rgb(216, 221, 230);
    z-index: -1;
}

.slds-progress__item.slds-is-completed + .slds-progress__item::before {
    background-color: rgb(6, 28, 63);
}

.slds-progress__marker {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: rgb(216, 221, 230);
    border: 0.125rem solid rgb(216, 221, 230);
}

.slds-progress__item.slds-is-active .slds-progress__marker {
    background-color: rgb(0, 112, 210);
    border-color: rgb(0, 112, 210);
    box-shadow: rgb(0 112 210 / 40%) 0 0 0 0.25rem;
}

.slds-progress__item.slds-is-completed .slds-progress__marker {
    background-color: rgb(6, 28, 63);
    border-color: rgb(6, 28, 63);
}

.slds-progress__label {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: rgb(116, 116, 116);
}

.slds-progress__item.slds-is-active .slds-progress__label {
    color: rgb(0, 112, 210);
    font-weight: 700;
}

.slds-progress__item.slds-is-completed .slds-progress__label {
    color: rgb(6, 28, 63);
    font-weight: 700;
}

.slds-progress__link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.slds-progress__link:hover .slds-progress__marker {
    box-shadow: rgb(0 112 210 / 40%) 0 0 0 0.25rem;
}

.slds-progress__link:hover .slds-progress__label {
    text-decoration: underline;
}

/* Progress Bar */
.slds-progress-bar {
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: rgb(243, 243, 243);
    border-radius: 15rem;
    overflow: hidden;
    position: relative;
    margin-top: 1rem;
}

.slds-progress-bar__value {
    display: block;
    height: 100%;
    background-color: rgb(6, 214, 160);
    border-radius: inherit;
    transition: width 0.3s ease-in-out;
}

/* Responsive adjustments */
@media (max-width: 48em) {
    .slds-progress__label {
        font-size: 0.625rem;
    }

    .slds-progress__marker {
        width: 1rem;
        height: 1rem;
    }
}
